{% extends 'base.html'%}

{% block content %}
<section>
  <form method="POST" class="form">
    {% csrf_token %}
    <input type="text" name="username" placeholder="nome">
    <input type="email" name="email" placeholder="E-mail">
    <input type="password" name="password" placeholder="Senha">
    <div class="input-field col s12 ">
        <select name="tipo_usuario" class="browser-default">
          <option value="" disabled selected>Escolha uma opção</option>
          <option value="administrador">Administrador</option>
          <option value="usuario">Usuário</option>
        </select>
      </div>
    <button class="btn waves-effect waves-light right" type="submit" name="action">Registrar</button>
  </form>
</section>
{% endblock content %}